.sidebar-container {
    background-color: rgba(128, 128, 128, .5);   
}
.addproducts-container{
    background-color: rgba(128, 128, 128, .5);   
}
.product__input::-webkit-inner-spin-button, 
.product__input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}
